* {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
	overflow-x: hidden;
}

#control-panel{
	/*background-color: rgba(255, 0, 0, 0.1);*/
	width: 800px;
	height: 60px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	z-index: 5;
}

.pauseDiv {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 500px;
	z-index: 5;
	margin: 0;
}

#pause #container {
	border-radius: 5px;
	width: 400px;
	height: 300px;
	margin: 50px auto;
	padding: 50px 105px 50px 105px;
}

#pause #container button {
	color: #fff;
}

.hidden{
	display: none;
}

.time-bar{
	padding-left: 0;
}

.ui-glyph{
	color: white;
	margin: 0;
}

.ui-icon{
 width: 25px;
}

#main-menu, #credits {
	background: #fff url("background.jpg") no-repeat fixed left top;
	text-align: center;
	margin: 0 auto;
	height: 600px;
	width: 800px;
}

#credits {
	display:  none;
}

.header-1 {
	margin: -50px 0 50px 0;
	font-size: 100px;
	height: 175px;
}

.header-2 {
	font-family: 'Play', sans-serif;
	margin-bottom: 50px;
}

#progra {
	font-family: 'Permanent Marker', cursive;
	color: #3498db;
}


#magos {
	font-family: 'Pacifico', cursive;
	color: #e74c3c;
	font-size: 150px;
}

#cred {
	font-family: 'Permanent Marker', cursive;
	color: #993333;
}

#its {
	font-family: 'Pacifico', cursive;
	color: #336699;
}

#areyou {
	color: #993333;
}

#takethe {
	color: #336699;
}

button {
	width: 210px;
	height:40px;
	font-family: 'Play', sans-serif;
	border-radius: 10px;
}

.button-row{
	margin-bottom: 10px;
}

/*.button:hover {
	cursor: pointer;
	background: #c0392b !important;
	color: #2980b9 !important;
}*/

p {
	font-size: 20px;
	line-height: 35px;
	margin: 50px 0 50px 0;
	color: #000;
	font-family: 'Play', sans-serif;

}

.fill-div{
	width: 100%;
	height: 50px;
}

#contain-editor {
	/*background: #336699;*/
	padding: 10px;
}

#terminal {
	background: black;
  	color : #ffffff;
  	font-family: 'Fira Mono';
  	padding: 5px;
}

.no-space{
	padding: 0;
}

#footer {
	margin-top: 20px;
	color: #fff;
	font-size: 20px;
	font-family: 'ABeeZee', sans-serif;
}
